:root {
  color-scheme: dark;

  --dark: #282a30;
  --bg: color-mix(in oklab, var(--dark) 75%, #000);
  --panel: var(--dark);
  --panel-strong: var(--primary);
  --surface: color-mix(in oklab, var(--dark) 92.5%, #fff);

  --border: color-mix(in oklab, var(--dark) 95%, #fff);
  --border-strong: color-mix(in oklab, var(--dark) 90%, #fff);

  --text: #F7FFF7;
  --text-muted: #bbc7c6;
  --text-dimmed: color-mix(in oklab, var(--text) 30%, var(--dark));

  --primary: #FF5C5C;
  --accent: #ffd700;

  --success: #cdeb62;
  --danger: #FF5C5C;

  --extreme: #da70d6;
  --string: #ffec9a;
  
  font-family: "Space Mono";
  font-size: 15px;  
  line-height: 1.4;
  background: var(--bg);
  color: var(--text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*
@font-face {
  font-family: "Monocraft";
  src: url("src/assets/fonts/Monocraft-ttf/Monocraft-ttf/Monocraft.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mononoki";
  src: url("src/assets/fonts/mononoki//mononoki-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}*/

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  overflow: hidden;
}

#root {
  min-height: 0;
}

button,
input,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.4em 0;
  font-weight: normal;
}

p {
  line-height: 1.8;
  margin-bottom: 1.2em;
}

h1 {
  font-size: 2.5em;
}


::selection {
  background-color: var(--primary);
}

a {
  color: var(--text-muted);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  text-decoration-color: var(--text);
  cursor: pointer;
}

hr {
  border: none;
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background: var(--border);
}

ul {
  list-style-type: disc;  /* ■ */
  line-height: 1.8;
}

ul li::marker{
  color: var(--text-muted);
}
